<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="row match-height">
            <div class="col-xl-8 col-md-6 col-12 h-100">
                <app-statistics></app-statistics>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <app-total-price></app-total-price>
            </div>
            <div class="col-xl-12 col-md-12 col-12">
                <app-transactions></app-transactions>
            </div>
        </div>
    </div>
</div>