<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    <section id="multiple-column-form">
      <div class="row match-height">
        <div class="col-12">
          <core-card-snippet>
            <h4 class="card-title"></h4>
            <div class="card-body">
              <form class="form" [formGroup]="studentAddForm">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="first-name-column">Adı ve Soyadı</label>
                      <input type="text" id="first-name-column" class="form-control" placeholder="Örnek: Mustafa Kemal"
                        name="fname-column" formControlName="fullName" />
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="last-name-column">Bileklik Numarası</label>
                      <input type="text" id="last-name-column" class="form-control" placeholder="Örnek: 188118811881"
                        name="lname-column" formControlName="bandNumber" />
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label>Okullar</label>
                      <select class="form-control basic" formControlName="schoolId" id="schoolId" required>
                        <option value="" selected="selected" disabled>Okul Seçiniz</option>
                        <option  *ngFor="let item of schools" [ngValue]=item.id >{{ item.schoolName }}</option>
                      </select>
                      <!-- <ng-select [items]="schools" bindLabel="schoolName" bindValue="id" [loading]="selectBasicLoading">
                      </ng-select> -->
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="country-floating">Doğum Tarihi</label>
                      <input type="date" id="birthDate" formControlName="birthDate" class="form-control" required />
                    </div>
                  </div>


                  <div class="col-12">
                    <button type="submit" (click)="addStudent()" rippleEffect
                      class="btn btn-primary mr-1">Kaydet</button>
                    <button type="reset" rippleEffect class="btn btn-outline-secondary">Sıfırla</button>
                  </div>
                </div>
              </form>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
    <!-- Basic multiple Column Form section end -->
  </div>
</div>