<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      
      
    <!-- Kitchen Sink Datatables -->
    <section id="ngx-datatable-kitchen-sink">
      <core-card-snippet [snippetCode]="_snippetCodeKitchenSink">
        <h4 class="card-title">Geçmiş</h4>
        <div class="row">
          <div class="col-12 mb-50">
            <a [routerLink]="['/pages/new-menu', studentId]" class="btn btn-primary ml-1" rippleEffect>
              <i data-feather="plus" class="mr-0 mr-sm-1"></i
              ><span class="d-none d-sm-inline-block">Yeni menü ekle</span>
            </a>
  
            <!-- <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect
              >Export CSV</a
            > -->
          </div>
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center"
                >Search<input
                  type="search"
                  placeholder="Search"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
              /></label>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="menuInfos"
          [rowHeight]="58"
          class="bootstrap core-bootstrap pl-5"
          [limit]="10"
          [columnMode]="ColumnMode.force"
          [headerHeight]="40"
          [footerHeight]="50"
          [scrollbarH]="true"
          [limit]="basicSelectedOption"
          (activate)="onActivate($event)"
          (select)="onSelect($event)"
        >
         
         
          <ngx-datatable-column name="Menü Zamanı" prop="menuType" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="Kullanılma Tarihi" prop="useDate" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="Oluşturulma Tarihi" prop="createdDate" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="İçerik Sayısı" prop="selectedItemCount" [width]="120"></ngx-datatable-column>
          <!-- <ngx-datatable-column name="Salary" prop="salary" [width]="120"></ngx-datatable-column> -->
          <ngx-datatable-column name="Durum" prop="lastStatus" [width]="120">
            <ng-template let-status="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-primary': status == '0',
                  'badge-light-success': status == '1'
                  
                }"
              >
                {{
                  status == '1'
                    ? 'Aktif'
                    : 'Pasif'
                }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="İşlemler" prop="rows" [width]="120" [sortable]="false">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                
                <a [routerLink]="['menus',row.studentId]" ngbDropdownItem class="d-flex align-items-center"
                > <i data-feather="edit" class="text-primary cursor-pointer"></i></a
              >
               
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </core-card-snippet>
    </section>
    <!--/ Kitchen Sink Datatables -->
  
      <!-- Row Details  Datatables -->
      
    </div>
  </div>
  