<div class="card">
    <div
      class="card-header d-flex flex-md-row flex-column justify-content-md-between justify-content-start align-items-md-center align-items-start"
    >
      <div>
        <h4 class="card-title mb-50">Günlük Durumlar</h4>
      </div>
      
    </div>
    <div class="card-body">
      <div id="column-chart" #apexColumnChartRef>
        <apx-chart
          [series]="apexColumnChart.series"
          [chart]="{
            type: 'bar',
            height: 400,
            width: isMenuToggled === false ? apexColumnChartRef.offsetWidth : apexColumnChart.chart.width,
            stacked: true,
            toolbar: {
              show: false
            }
          }"
          [xaxis]="apexColumnChart.xaxis"
          [stroke]="apexColumnChart.stroke"
          [tooltip]="apexColumnChart.tooltip"
          [colors]="apexColumnChart.colors"
          [legend]="apexColumnChart.legend"
          [dataLabels]="apexColumnChart.dataLabels"
          [plotOptions]="apexColumnChart.plotOptions"
          [grid]="apexColumnChart.grid"
        ></apx-chart>
      </div>
    </div>
  </div>